doctype html
html(lang='en')
    head
        title Search Database
        link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        style body {padding-top: 50px;}
    body
        div.container
            div.jumbotron
                h2 Quick Search
                div.panel.panel-default
                    div.panel-body
                        form(action='')
                            p    Search by IMO
                                text    &nbsp;&nbsp;&nbsp;
                                input(type = 'text' onkeyup='quickSearch(this.value)')
                                text    &nbsp;
                                input(type = 'checkbox' name = 'checked' value = 'true')
                                text    &nbsp;Exact Search
                                input(type ='submit' value= 'Submit')
                        h4#result
    script.
        function quickSearch(str) {
            var xhttp;
            if (str === '') {
                document.getElementById('result').innerHTML = '<h1>Try again!</h1>';
            }
            else {
                xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState === 4 && this.status === 200 && this !== null) {
                        let code ='';
                        let obj = JSON.parse(this.responseText);
                        for (let i = 0; i < obj.length; i++){
                            code = code + '<li>Ship IMO: ' + obj[i].IMO + ' - Ship Name: ' + obj[i].Name +
                                '<form action=\"/ship/view-detail\" method=\"post\">' +
                                '<input type = \"hidden\" value= \"'+obj[i].IMO+'\" name = \"IMO\">' +
                                '<input type = \"hidden\" value= \"'+ obj[i].Name +'\" name = \"Name\">' +
                                '<input type =\"submit\" value= \"View detail >>\">'+
                                '</form></li><hr>';
                        }
                        document.getElementById('result').innerHTML = code;

                    }
                };
                xhttp.open('POST', 'quicksearch', true);
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhttp.send("imo="+str);
            }
        }

